[parameter]
dt = 0.002     
dt_new = 0.008               ;for iir/resample/...
butter_order = 3             ;for iir filter
winLen_sec = 0.5             ;for move mean
z = 0, 0.5, 1.0, 1.0, 0.5, 0 ;for interp1
F1 = 0
F2 = 0.002
F3 = 0.006
F4 = 14.5
F5 = 15
eCoeff = 0.6                 ;for whitening 

master_index = 0             ;master channel
input_file=
output_file=
input_dataset=
output_dataset




