


Preparing steps (on snowbear):
    
  > python 3:
    module load  python/3.5.1
    pip3 install nptdms 

    > h5py https://github.com/h5py/h5py
      version > 2.9 to use HDF5 Virtual Dataset for h5-merge.py
      python3 -c "import h5py; print(h5py.__version__)"

      tips to insall h5py:
         dbin@snowbear data]$ module list
           1) python/3.5.1         3) gcc/4.8.5            5) hdf5/1.10.1-gcc-p
           2) arrayudf/1.0.0-gcc   4) openmpi/3.1.2-gcc 
         
         wget https://github.com/h5py/h5py/archive/master.zip
         python3 setup.py configure  --reset
         python3 setup.py configure  --hdf5=/usr/local/software/sl-6.x86_64/modules/hdf5/1.10.1-gcc-p
         python3 setup.py build
         python3 setup.py install --user

    > https://github.com/adamreeve/npTDMS


Quick steps to start with sample data. More advanced features can be obtained by "-h"

Step1: convert TDMS files (all in a directory ) to HDF5 files (in another directory)

   > ls   ~/Dropbox/xinXingMLshareFolder/testTDMSdata/
          westSac_170728224410.tdms	westSac_170728224610.tdms
	  westSac_170728224510.tdms	westSac_170728224710.tdms
   > mkdir testH5data
   > python tdms2h5.py -i ~/Dropbox/xinXingMLshareFolder/testTDMSdata/ -o testH5data -b

    
Step2: merge HDF5 files into a single HDF5 file

   > ls testH5data/
      westSac_170728224410.h5p	westSac_170728224610.h5p
      westSac_170728224510.h5p	westSac_170728224710.h5p
   > python h5-merge.py -i testH5data/ -o westSac_merged.h5p
   > h5dump -A westSac_merged.h5p
     HDF5 "westSac_merged.h5p" {
     	  GROUP "/" {
	     DATASET "DataByChannelTime" {
	           DATATYPE  H5T_STD_I16LE
		         DATASPACE  SIMPLE { ( 120000, 11648 ) / ( 120000, 11648 ) }
     }}}


Step3: Analysis to come

module load gcc/4.8.5
module load openmpi/3.1.2-gcc
module load hdf5/1.10.1-gcc-p
module load arrayudf/1.0.0-gcc


New HDF5:
git clone https://bitbucket.hdfgroup.org/scm/hdffv/hdf5.git
module load libtool/2.4.6
module load automake/1.15
module load openmpi/3.1.2-gcc
./autoge
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:~/soft/hdf5/build/lib/



module load hdf5/1.10.1-gcc-p






